[Interface]
Address = {{ awg_ip }}/24
ListenPort = {{ awg_port }}
PrivateKey = {{ hostvars[inventory_hostname]['awg_privkey'] | default(awg_privkey | default('')) }}
MTU = {{ awg_mtu }}

Jc = {{ awg_obfuscation.jc }}
Jmin = {{ awg_obfuscation.jmin }}
Jmax = {{ awg_obfuscation.jmax }}
S1 = {{ awg_obfuscation.s1 }}
S2 = {{ awg_obfuscation.s2 }}
H1 = {{ awg_obfuscation.h1 }}
H2 = {{ awg_obfuscation.h2 }}
H3 = {{ awg_obfuscation.h3 }}
H4 = {{ awg_obfuscation.h4 }}
{% for host in groups['mesh'] if host != inventory_hostname %}

[Peer]
PublicKey = {{ hostvars[host].awg_pubkey }}
AllowedIPs = {{ hostvars[host].awg_ip }}/32
{% if hostvars[host].ansible_host is defined and hostvars[host].ansible_host != 'none' and hostvars[host].ansible_host != '' %}
Endpoint = {{ hostvars[host].ansible_host }}:{{ hostvars[host].awg_port | default(awg_port) }}
{% endif %}
PersistentKeepalive = 25
{% endfor %}
