data_dir: /var/lib/vector
timezone: local

api:
  enabled: true
  address: 127.0.0.1:8686

sources:
  journal:
    type: journald
    exclude_units:
      - vector.service

sinks:
  victorialogs:
    type: http
    inputs:
      - journal
    uri: "http://{{ vector_victorialogs_host }}:9428/insert/jsonline?_stream_fields=host,systemd_unit&_msg_field=message"
    encoding:
      codec: json
