[Unit]
Description=RabbitMQ S3 Backup
After=rabbitmq-server.service network-online.target

[Service]
Type=oneshot
User=root
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/infra-backup-runner rabbitmq /usr/local/bin/rabbitmq-backup-s3
StandardOutput=journal
StandardError=journal
