.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

dist/
build/
*.egg-info/

node_modules/
.vite/
.nuxt/

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl.bak

.env
.env.*
!.env.example
.vault_pass
*.awg
*.cyberduckprofile

*.log
.DS_Store
