[Unit]
Description=MongoDB S3 Backup
After=mongod.service network-online.target

[Service]
Type=oneshot
User=root
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/infra-backup-runner mongo /usr/local/bin/mongo-backup-s3
StandardOutput=journal
StandardError=journal
