[Unit]
Description=Garage S3 Storage Metadata Backup
After=network-online.target

[Service]
Type=oneshot
User=root
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/infra-backup-runner garage /usr/local/bin/garage-backup-s3
StandardOutput=journal
StandardError=journal
