apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://127.0.0.1:8428
    isDefault: true
    jsonData:
      timeInterval: 15s

  - name: VictoriaLogs
    type: loki
    access: proxy
    url: http://127.0.0.1:9428
    jsonData:
      maxLines: 1000
