[Unit]
Description=ClickHouse S3 Backup
After=clickhouse-server.service network-online.target

[Service]
Type=oneshot
User=root
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/infra-backup-runner clickhouse /usr/local/bin/clickhouse-backup-s3
StandardOutput=journal
StandardError=journal
