general:
  remote_storage: s3
  max_file_size: 1073741824
  disable_progress_bar: true
  backups_to_keep_local: 1
  backups_to_keep_remote: {{ clickhouse_backup_retain_count }}
clickhouse:
  username: default
  password: "{{ vault_clickhouse_password | default('') }}"
  host: "127.0.0.1"
  port: {{ clickhouse_backup_http_port }}
  disk_mapping: {}
  skip_tables:
    - system.*
    - INFORMATION_SCHEMA.*
    - information_schema.*
s3:
  access_key: "{{ vault_backup_s3_access_key | default('') }}"
  secret_key: "{{ vault_backup_s3_secret_key | default('') }}"
  bucket: "{{ backup_s3_bucket }}"
  endpoint: "{{ backup_s3_endpoint }}"
  region: "{{ backup_s3_region }}"
  path: "clickhouse/{{ inventory_hostname }}"
  compression_format: zstd
  compression_level: 3
  disable_ssl: false
