[Unit]
Description=PocketBase Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/lib/pocketbase
ExecStart=/usr/local/bin/pocketbase serve --http=127.0.0.1:8090
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
