{
  "WALG_S3_PREFIX": "{{ walg_s3_prefix }}",
  "AWS_ENDPOINT": "{{ walg_s3_endpoint }}",
  "AWS_REGION": "{{ walg_s3_region }}",
  "PGDATA": "/var/lib/postgresql/17/main",
  "PGHOST": "/var/run/postgresql"
}
