{
  "WALG_S3_PREFIX": "{{ walg_s3_prefix }}",
  "AWS_ENDPOINT": "{{ walg_s3_endpoint }}",
  "AWS_REGION": "{{ walg_s3_region }}",
  "AWS_ACCESS_KEY_ID": "{{ vault_backup_s3_access_key | default('') }}",
  "AWS_SECRET_ACCESS_KEY": "{{ vault_backup_s3_secret_key | default('') }}",
  "PGDATA": "/var/lib/postgresql/17/main",
  "PGHOST": "/var/run/postgresql",
  "WALG_COMPRESSION_METHOD": "zstd",
  "WALG_DELTA_MAX_STEPS": 6
}
