[Unit]
Description=WAL-G PostgreSQL Full Basebackup
After=postgresql@17-main.service network-online.target

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/local/bin/wal-g backup-push /var/lib/postgresql/17/main
